<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registration</title>
  <link href="../css/lib/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="d-flex justify-content-center align-items-center" id="registerContent">
    <form class="card col-12 col-md-5 col-lg-4 mt-4 mb-4" id="frmRegister">
      <div class="card-body">
        <h1 class="text-center mb-2 text-primary">SwollenHippo</h1>
        <h3 class="text-center">Account Registration</h3>
        <p style="text-align: center;">I am a...</p>
        <div class="mt-2 d-flex justify-content-around">
          <button class="btn btn-primary" id="btnOpenStudentForm" type="button">Student</button>
          <button class="btn btn-primary" id="btnOpenInstructorForm" type="button">Instructor</button>
        </div>
      </div>
    </form>
  </div>

  <!-- Registration details for Student and Instructor with inline styling to hide them by default -->
  <div id="studentRegistration" class="container mt-4 d-none justify-content-center" style="display: none;">
    <form class="card col-12 col-md-5 col-lg-4 mt-4 mb-4" id="frmStudentRegister">
      <div class="card-body">
          <h1 class="text-center mb-2 text-primary">SwollenHippo</h1>
          <h3 class="text-center mt-1 mb-4">Student Registration</h3>
          <p>Account Credentials</p>
          <input id="txtStudentUsername" class="form-control mb-2" type="email" placeholder="Email" aria-label="Input email here">
          <input id="txtStudentPassword" class="form-control mb-2" type="password" placeholder="Password" aria-label="Input password here">
          <input id="txtStudentPasswordConfirm" class="form-control mb-2" type="password" placeholder="Confirm Password" aria-label="Confirm password here">
          <p>Name</p>
          <input id="txtStudentFirstName" class="form-control mb-2" type="text" placeholder="First Name" aria-label="Input first name here">
          <input id="txtStudentLastName" class="form-control mb-2" type="text" placeholder="Last Name" aria-label="Input last name here">
          <p>Contact Methods</p>
          <input id="txtStudentPhoneNumber" class="form-control mb-2" type="number" placeholder="Phone Number" aria-label="Input phone number here">
          <input id="txtStudentTeamsUser" class="form-control mb-2" type="text" placeholder="Microsoft Teams Username" aria-label="Input Microsoft Teams username here">
          <input id="txtStudentDiscordUser" class="form-control mb-2" type="text" placeholder="Discord Username" aria-label="Input Discord Username here">
          <button class="btn btn-primary col-12 mt-2" type="button" id="btnRegisterStudent">Register</button>
        </div>
      </form>
  </div>

  <div id="instructorRegistration" class="container mt-4 d-none justify-content-center" style="display: none;">
    <form class="card col-12 col-md-5 col-lg-4 mt-4 mb-4" id="frmInstructorRegister">
      <div class="card-body">
          <h1 class="text-center mb-2 text-primary">SwollenHippo</h1>
          <h3 class="text-center mt-1 mb-4">Instructor Registration</h3>
          <p>Account Credentials</p>
          <input id="txtInstructorUsername" class="form-control mb-2" type="email" placeholder="Email" aria-label="Input email here">
          <input id="txtInstructorPassword" class="form-control mb-2" type="password" placeholder="Password" aria-label="Input password here">
          <input id="txtInstructorPasswordConfirm" class="form-control mb-2" type="password" placeholder="Confirm Password" aria-label="Confirm password here">
          <p>Name</p>
          <input id="txtInstructorFirstName" class="form-control mb-2" type="text" placeholder="First Name" aria-label="Input first name here">
          <input id="txtInstructorLastName" class="form-control mb-2" type="text" placeholder="Last Name" aria-label="Input last name here">
          <button class="btn btn-primary col-12 mt-2" type="button" id="btnRegisterInstructor">Register</button>
        </div>
      </form>
  </div>

  <script src="../js/app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
